<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>AustraliaSim</title>
		<meta http-equiv="refresh" content="0; url={{ destination }}">
	</head>
	<body>
		<p>Click the link below if you are not redirected automatically.</p>
		<p><a href="{{ destination }}">{{ destination }}</a></p>
	</body>
</html>
