{% extends "frlsim/base.html" %}

{% block title %}Acts in force by short title{% endblock %}

{% block content %}
	<h1>Acts in force by short title</h1>
	
	{% for letter, letter_acts in acts|sort(attribute='metadata.title')|groupby('metadata.title.0') %}
		<h2>{{ letter }}</h2>
		<ul class="ui list">
			{% for act in letter_acts %}
				<li><a href="/legislation/act/{{ act.code }}">{{ act.metadata.title }}</a></li>
			{% endfor %}
		</ul>
	{% endfor %}
{% endblock %}
