<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>AustraliaSim Register of Legislation: {% block title %}{% endblock %}</title>
		
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	</head>
	<body>
		<div class="ui fixed inverted menu" style="margin-right: 1.5em;">
			<div class="ui container">
				<a class="header item" href="/legislation">AustraliaSim Register of Legislation</a>
				<div class="ui dropdown item">
					Acts
					<i class="dropdown icon"></i>
					<div class="menu">
						<div class="header">As made</div>
						<a class="item" href="/legislation/acts/bydate">By year and number</a>
						<a class="item" href="/legislation/acts/bytitle">By short title</a>
						<div class="header">In force</div>
						<a class="item" href="/legislation/acts/inforce/bytitle">By short title</a>
						<a class="item" href="/legislation/compilations/bytitle">Compilations by short title</a>
					</div>
				</div>
				<div class="ui dropdown item">
					Instruments
					<i class="dropdown icon"></i>
					<div class="menu">
						<div class="header">As made</div>
						<a class="item" href="/legislation/instruments/bydate">By year and number</a>
						<a class="item" href="/legislation/instruments/bytitle">By title</a>
					</div>
				</div>
			</div>
		</div>
		<div class="ui main text container" style="margin-top: 7em; margin-bottom: 3em;">
			{% block content %}
			{% endblock %}
		</div>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
		<script>
			$('.menu .ui.dropdown').dropdown({'on': 'hover'});
		</script>
		{% block script %}{% endblock %}
	</body>
</html>
