{% extends "frlsim/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
	<div class="ui grid">
		<div class="eight wide column">
			<p>The <b>AustraliaSim Register of Legislation</b> catalogues AustraliaSim legislation and related documents. It contains the full text and details of the lifecycle of individual laws and the relationships between them.</p>
			<p>The Register of Legislation was created by <a href="https://www.reddit.com/u/RunasSudo">/u/RunasSudo</a>, and is managed with help from the Moderation Team, Clerks, presiding officers and other members of the AustraliaSim community.</p>
			<p>The raw data and source code for this website are hosted at <a href="https://gitlab.com/AustraliaSim/australiasim.gitlab.io">https://gitlab.com/AustraliaSim/australiasim.gitlab.io</a>.</p>
		</div>
		<div class="eight wide column">
			<h1>Acts</h1>
			<div class="ui two column grid">
				<div class="column">
					<ul class="ui list">
						<li>
							As made
							<ul>
								<li><a href="/legislation/acts/bydate">By year and number</a></li>
								<li><a href="/legislation/acts/bytitle">By short title</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="column">
					<ul class="ui list">
						<li>
							In force
							<ul>
								<li><a href="/legislation/acts/inforce/bytitle">By short title</a></li>
								<li><a href="/legislation/acts/compilations/bytitle">Compilations by short title</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			
			<h1>Instruments</h1>
			<ul class="ui list">
				<li>
					As made
					<ul>
						<li><a href="/legislation/instruments/bydate">By year and number</a></li>
						<li><a href="/legislation/instruments/bytitle">By title</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}
