{% extends "frlsim/base.html" %}

{% block title %}{{ instrument.metadata.title }}{% endblock %}

{% block content %}
	<h1>{{ instrument.metadata.title }}</h1>
	
	<p>
		Instrument No. {{ instrument.number }} of {{ instrument.year }}.
		{% if instrument.made_under %}
			Made under the <a href="/legislation/act/{{ instrument.made_under.code }}">{{ instrument.made_under.metadata.title }}</a>.
		{% else %}
			Made under the <a href="https://www.legislation.gov.au/Search/{{ instrument.metadata.made_under }}">{{ instrument.metadata.made_under }}</a>.
		{% endif %}
		{% if instrument.metadata.maker %}Made by <a href="https://www.reddit.com/u/{{ instrument.metadata.maker }}">/u/{{ instrument.metadata.maker }}</a>.{% endif %}
		Made {{ instrument.metadata.made }}.
		{% if instrument.repealed_by %}Repealed by <a href="/legislation/instrument/{{ instrument.repealed_by[0].code }}">{{ instrument.repealed_by[0].metadata.title }}</a>.{% endif %}
		{% if instrument.metadata.disallowed %}Disallowed {{ instrument.metadata.disallowed }}.{% endif %}
	</p>
	
	<div class="ui top attached tabular menu">
		{% if instrument.can_render %}<a class="active item" data-tab="text">Text{% if not instrument.content %} (auto-converted){% endif %}</a>{% endif %}
		<a class="{% if not instrument.can_render %}active {% endif %}item" data-tab="download">Download</a>
		{% if instrument.metadata.amends or instrument.metadata.repeals %}<a class="item" data-tab="amends">Amends</a>{% endif %}
		{% if instrument.amended_by or instrument.repealed_by %}<a class="item" data-tab="amended_by">Amended by</a>{% endif %}
		{% if instrument.metadata.urls %}<a class="item" data-tab="urls">External links</a>{% endif %}
	</div>
	
	{% if instrument.can_render %}
		<div class="ui bottom attached active tab segment" data-tab="text">
			{{ instrument.render() }}
		</div>
	{% endif %}
	
	<div class="ui bottom attached {% if not instrument.can_render %}active {% endif %}tab segment" data-tab="download">
		<ul class="ui list">
			{% for format in instrument.formats %}
				<li><a href="/legislation/instrument/{{ instrument.code }}/download/{{ instrument.code }}.{{ format }}">
					{{ format.upper() }}
					{% if format == 'md' and not instrument.content %}
						(metadata only)
					{% endif %}
				</a></li>
			{% endfor %}
			{% for format in instrument.autoconverted.keys() %}
				<li><a href="/legislation/instrument/{{ instrument.code }}/download/{{ instrument.code }}.auto.{{ format }}">
					{{ format.upper() }}
					(auto-converted)
				</a></li>
			{% endfor %}
		</ul>
	</div>
	
	{% if instrument.metadata.amends or instrument.metadata.repeals %}
		<div class="ui bottom attached tab segment" data-tab="amends">
			{% macro amends_list(list) %}
				<ul class="ui list">
					{% for entry in list %}
						{% if entry.split()|length == 1 %}
							<li><a href="/legislation/instrument/{{ entry }}">{{ acts_bycode[entry].metadata.title }}</a></li>
						{% else %}
							<li><a href="https://www.legislation.gov.au/Search/{{ entry }}">{{ entry }}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
			{% endmacro %}
			{% if instrument.metadata.amends %}
				<h2>Amends</h2>
				{{ amends_list(instrument.metadata.amends) }}
			{% endif %}
			{% if instrument.metadata.repeals %}
				<h2>Repeals</h2>
				{{ amends_list(instrument.metadata.repeals) }}
			{% endif %}
		</div>
	{% endif %}
	
	{% if instrument.amended_by or instrument.repealed_by %}
		<div class="ui bottom attached tab segment" data-tab="amended_by">
			{% if instrument.amended_by %}
				<h2>Amended by</h2>
				<ul class="ui list">
					{% for entry in instrument.amended_by %}
						<li><a href="/legislation/instrument/{{ entry.code }}">{{ entry.metadata.title }}</a></li>
					{% endfor %}
				</ul>
			{% endif %}
			{% if instrument.repealed_by %}
				<h2>Repealed by</h2>
				<ul class="ui list">
					{% for entry in instrument.repealed_by %}
						<li><a href="/legislation/instrument/{{ entry.code }}">{{ entry.metadata.title }}</a></li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
	{% endif %}
	
	{% if instrument.metadata.urls %}
		<div class="ui bottom attached tab segment" data-tab="urls">
			<ul class="ui list">
				{% for url in instrument.metadata.urls %}
					<li><a href="{{ url }}">{{ url }}</a></li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
{% endblock %}

{% block script %}
	<script>
		$('.tabular.menu .item').tab();
	</script>
{% endblock %}
